@media only screen and (max-width: 700px) {
    body{
        background-color: black;
    }
    .fotoCv img{
        width: 10vh;
        height: 20vh;
    }

    .section-1 h2, .section-1 p{
        font-size: 2vh;
    }

    .section-1{
        border-top: 2px solid #043381 ;
    }

    .section-2{
        border-top: 2px solid #043381;
    }

    .section-3{
        border-top:2px solid #043381;
    }

    .section-4{
        border-top:2px solid #043381;
    }

    .section-4 a{
        text-decoration: none;
        border: 1px solid rgb(223, 223, 223);
        padding: 0.5rem;
    }

    .gitGitHub{
        width: 50%;
    }

    .iconoprueba{
        color: green;
    }
    .mas-proyecto-en a{
        border: none;
    }
    .footer-container{
        border-top: 1px solid #464947;
        padding-top: 1rem;
        margin-top: 3rem;
    }
    footer{
        background-color: #ABB0AC;
    }
    .footer-container img{
        width: 15%;
    }

    h1 , h2 , h3 , h4 , p , a , span{
        color: white;
    }
    .html5{
        color: #F06529;
        font-size: 5vh;
    }
    .bootstrap{
        color: #563d7c;
        font-size: 5vh;
    }
    .sass{
        color: #cc6699;
        font-size: 5vh;
    }
    .javascript{
        color: #F0DB4F;
        font-size: 5vh;
    }
    .react{
        color: #61DBFB;
        font-size: 5vh;
    }
    .node{
        color: #68A063;
        font-size: 5vh;
    }
    .git{
        color: #f34f29;
        font-size: 5vh;
    }
    .whatsapp{
        color: green;
        font-size: 5vh;
    }
    .linkedin{
        font-size: 5vh;
    }
    h2{
        font-family: 'Fira Sans', sans-serif;
    }
    h3{
        font-family: 'Work Sans', sans-serif;
    }
    h4{
        font-family: 'Barlow Condensed', sans-serif;
    }
    span , a{
        font-family: 'Bebas Neue', cursive;
    }
    p{
        font-family: 'Questrial', sans-serif;
    }
    .section-1 span{
        font-family: 'Abel', sans-serif;
        color: #67E780;
    }
}